body {
  font-family: Arial, Helvetica, sans-serif;
}

section {
  margin-bottom: 2.5%;
}

hr {
  border: 1px solid black;
}

table {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-spacing: 0;
  width: 25%;
}

th,
td {
  padding: 2%;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
}

ul {
  color: red;
}

form {
  width: 25%;
}

textarea {
  resize: none;
  height: 150px;
  padding: 1%;
}

.form-field {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 2%;
}
